In [1]:
import pandas as pd

In [2]:
pre = pd.read_csv('clean1.csv')
pre

,Unnamed: 0,matchid,JUNGLE1,JUNGLE2,TOP1,TOP2,MID1,SUPPORT2,MID2,SUPPORT1,CARRY1,CARRY2,top2countered,top1countered,jg2countered,jg1countered,mid2countered,mid1countered,carry2countered,carry1countered
0,0,10,Warwick,Skarner,Fiora,Galio,Viktor,VelKoz,Ahri,Nami,Draven,Jinx,0,0,0,0,0,0,1,0
1,2,15,Warwick,Lee Sin,Garen,Tryndamere,Ahri,Nami,Yasuo,Thresh,Miss Fortune,Ziggs,0,1,0,0,0,1,0,0
2,3,18,Warwick,Lee Sin,Jarvan IV,Teemo,Lux,Thresh,LeBlanc,Zilean,Ashe,Caitlyn,0,0,0,0,0,0,0,0
3,5,22,Warwick,Sejuani,Trundle,Darius,Anivia,Karma,Veigar,Alistar,Tristana,Caitlyn,0,0,0,0,0,0,0,0
4,6,23,Warwick,Nunu,Illaoi,Darius,Fizz,Janna,Camille,Bard,Caitlyn,Lucian,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148630,204255,186402,Tahm Kench,Fiddlesticks,Renekton,Riven,Ekko,Janna,Annie,Brand,Jinx,KogMaw,1,0,0,0,0,0,0,0
148631,204256,186404,Tahm Kench,Shyvana,Vladimir,Riven,Veigar,Lulu,Azir,Janna,Tristana,Vayne,0,0,0,0,0,0,0,0
148632,204257,187565,Tahm Kench,Zac,Fiora,Riven,Veigar,Janna,LeBlanc,Thresh,Lucian,Vayne,0,0,0,0,0,0,0,0
148633,204258,86906,Corki,Volibear,Teemo,Pantheon,Kassadin,Zyra,Orianna,Soraka,Twitch,Miss Fortune,0,0,0,0,0,0,0,0
148634,204259,98272,Corki,Lee Sin,Shen,Nautilus,Lux,Janna,Fizz,Karma,Jinx,Ashe,0,0,0,0,0,0,0,0

In [3]:
# https://www.kaggle.com/datasets/vivovinco/league-of-legends-stats-s13/
stats = pd.read_csv('League of Legends Champion Stats 13.1.csv', sep=';')
stats = stats[['Name', 'Tier', 'Role']]

In [4]:
def normit(a):
    s = ''
    for i in a:
        if i.isalpha() or i.isspace():
            s+=i
    
    s = s.replace('Dr Mundo', 'DrMundo')       # This is the only inconsistency between stats and pre
    return s

In [5]:
stats['Name']=stats['Name'].apply(normit)

In [6]:
stats.head()

     Name Tier Role
0  Aatrox    S  TOP
1    Ahri    S  MID
2   Akali    S  MID
3   Akali    C  TOP
4  Akshan    A  MID

In [7]:
# stats[stats['Name']=='Draven']

In [8]:
# pre[pre['JUNGLE2']=='Draven']

In [9]:
# pre.head()

In [10]:
# stats['Role'] ==

In [11]:
# m1 = stats[stats['Role'] == 'MID'][['Name', 'Tier']].rename(columns={'Name': 'MID1'})
# pre = pre.merge(m1, on='MID1', how='left').rename(columns={'Tier': 'MID1Tier'})

# pre.head()

In [13]:
# mapping Tier and Role to the name on each positions below

positions = ['JUNGLE1', 'JUNGLE2', 'TOP1', 'TOP2', 'MID1', 'SUPPORT2', 'MID2', 'SUPPORT1', 'CARRY1', 'CARRY2']

pre2 = pre.copy()
for i in positions:
    
    # rename CARRY as ADC (Attack Damage Carry)
    posit = i.replace('CARRY','ADC')                         
    
    # remove the number that represent the teams. e.g. 'TOP1' -> 'TOP'
    stats_filtered = stats[stats['Role'] == posit[:-1]]
    
    # develop dict for mapping the tier
    name_to_tier = dict(zip(stats_filtered['Name'],stats_filtered['Tier']))    
    
    # map the tier to each character for their role
    pre2[i+'Tier'] = pre2[i].map(lambda x: name_to_tier.get(x, None))    
    
display(pre2)

,Unnamed: 0,matchid,JUNGLE1,JUNGLE2,TOP1,TOP2,MID1,SUPPORT2,MID2,SUPPORT1,...,JUNGLE1Tier,JUNGLE2Tier,TOP1Tier,TOP2Tier,MID1Tier,SUPPORT2Tier,MID2Tier,SUPPORT1Tier,CARRY1Tier,CARRY2Tier
0,0,10,Warwick,Skarner,Fiora,Galio,Viktor,VelKoz,Ahri,Nami,...,A,C,God,None,S,B,S,God,A,B
1,2,15,Warwick,Lee Sin,Garen,Tryndamere,Ahri,Nami,Yasuo,Thresh,...,A,S,S,B,S,God,God,S,A,D
2,3,18,Warwick,Lee Sin,Jarvan IV,Teemo,Lux,Thresh,LeBlanc,Zilean,...,A,S,None,A,S,S,B,A,B,God
3,5,22,Warwick,Sejuani,Trundle,Darius,Anivia,Karma,Veigar,Alistar,...,A,A,D,God,S,God,A,B,A,God
4,6,23,Warwick,Nunu,Illaoi,Darius,Fizz,Janna,Camille,Bard,...,A,A,A,God,B,A,None,A,God,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148630,204255,186402,Tahm Kench,Fiddlesticks,Renekton,Riven,Ekko,Janna,Annie,Brand,...,None,A,A,A,B,A,C,B,B,C
148631,204256,186404,Tahm Kench,Shyvana,Vladimir,Riven,Veigar,Lulu,Azir,Janna,...,None,C,C,A,A,God,C,A,A,C
148632,204257,187565,Tahm Kench,Zac,Fiora,Riven,Veigar,Janna,LeBlanc,Thresh,...,None,God,God,A,A,A,B,S,A,C
148633,204258,86906,Corki,Volibear,Teemo,Pantheon,Kassadin,Zyra,Orianna,Soraka,...,None,C,A,B,God,A,B,S,A,A
148634,204259,98272,Corki,Lee Sin,Shen,Nautilus,Lux,Janna,Fizz,Karma,...,None,S,S,None,S,A,B,God,B,B

In [14]:

r = ['MID', 'SUPPORT', 'JUNGLE', 'ADC', 'TOP']         # positions on stats as roles
r2 = ['MID', 'SUPPORT', 'JUNGLE', 'CARRY', 'TOP']      # positions on pre as column names

for position, col_name in zip (r,r2):
    for i in range(2):
        m1 = stats[stats['Role'] == position][['Name', 'Tier']].rename(columns={'Name': col_name+str(i+1)})
        pre = pre.merge(m1, on=col_name+str(i+1), how='left').rename(columns={'Tier': col_name + str(i+1) + 'Tier'})

display(pre)

,Unnamed: 0,matchid,JUNGLE1,JUNGLE2,TOP1,TOP2,MID1,SUPPORT2,MID2,SUPPORT1,...,MID1Tier,MID2Tier,SUPPORT1Tier,SUPPORT2Tier,JUNGLE1Tier,JUNGLE2Tier,CARRY1Tier,CARRY2Tier,TOP1Tier,TOP2Tier
0,0,10,Warwick,Skarner,Fiora,Galio,Viktor,VelKoz,Ahri,Nami,...,S,S,God,B,A,C,A,B,God,NaN
1,2,15,Warwick,Lee Sin,Garen,Tryndamere,Ahri,Nami,Yasuo,Thresh,...,S,God,S,God,A,S,A,D,S,B
2,3,18,Warwick,Lee Sin,Jarvan IV,Teemo,Lux,Thresh,LeBlanc,Zilean,...,S,B,A,S,A,S,B,God,NaN,A
3,5,22,Warwick,Sejuani,Trundle,Darius,Anivia,Karma,Veigar,Alistar,...,S,A,B,God,A,A,A,God,D,God
4,6,23,Warwick,Nunu,Illaoi,Darius,Fizz,Janna,Camille,Bard,...,B,NaN,A,A,A,A,God,A,A,God
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148630,204255,186402,Tahm Kench,Fiddlesticks,Renekton,Riven,Ekko,Janna,Annie,Brand,...,B,C,B,A,NaN,A,B,C,A,A
148631,204256,186404,Tahm Kench,Shyvana,Vladimir,Riven,Veigar,Lulu,Azir,Janna,...,A,C,A,God,NaN,C,A,C,C,A
148632,204257,187565,Tahm Kench,Zac,Fiora,Riven,Veigar,Janna,LeBlanc,Thresh,...,A,B,S,A,NaN,God,A,C,God,A
148633,204258,86906,Corki,Volibear,Teemo,Pantheon,Kassadin,Zyra,Orianna,Soraka,...,God,B,S,A,NaN,C,A,A,A,B
148634,204259,98272,Corki,Lee Sin,Shen,Nautilus,Lux,Janna,Fizz,Karma,...,S,B,God,A,NaN,S,B,B,S,NaN

In [18]:
pre.columns
pre = pre[['matchid', 'top2countered', 'top1countered', 'jg2countered', 'jg1countered', 'mid2countered',
       'mid1countered', 'carry2countered', 'carry1countered', 
           'TOP1Tier', 'TOP2Tier','JUNGLE1Tier', 'JUNGLE2Tier',
           'MID1Tier', 'MID2Tier', 'SUPPORT1Tier', 'SUPPORT2Tier', 'CARRY1Tier', 'CARRY2Tier']]
pre.to_csv('clean2.csv')