In [1]:
import pandas as pd

In [81]:
participants = pd.read_csv('participants.csv')
participants = participants[['matchid', 'player', 'role', 'position', 'championid']]


def t(x):
    if x>5:
        return '2'
    else:
        return '1'
def p(x):
    if x[:3]=='BOT':
        return x[7:]
    elif x[:3]=='MID' or x[:3]=='TOP':
        return x[:3]
    else:
        return 'JUNGLE'

    
participants['Team'] = participants['player'].apply(t)
participants['position'] = participants['position']+participants['role']
participants['position'] = participants['position'].apply(p)
participants['Team'] = participants['position'] + participants['Team'].apply(lambda x: str(x))
participants = participants[['matchid', 'Team', 'championid']]
participants = participants.rename(columns={'Team': 'player'})
participants = participants[participants['player'] != '1']
participants = participants[participants['player'] != '2']
fixed_vars = participants.columns.difference(['player', 'championid'])


games = pd.DataFrame(columns=fixed_vars)
new_vars = participants['player'].unique()
for v in new_vars:
        df_v = participants[participants['player'] == v]
        del df_v['player']
        df_v = df_v.rename(columns={'championid': v})
        games = games.merge(df_v,
                              on=list(fixed_vars),
                              how='outer')
games = games.dropna()
games = games.astype(int)

In [99]:
games.head()

,matchid,JUNGLE1,SUPPORT1,CARRY1,TOP1,MID1,JUNGLE2,TOP2,MID2,CARRY2,SUPPORT2
0,10,19,267,119,114,112,72,3,103,222,161
1,11,28,115,69,4,157,19,62,134,51,43
2,12,32,40,119,67,99,254,51,103,29,267
4,14,62,154,51,6,61,19,122,25,236,43
5,15,19,412,21,86,103,64,23,157,115,267